<div class="header-burger">
  <a href="index" class="logo logo__burger">
    <img src="icons/logo.svg" alt="main logo" />
  </a>
  <div class="burger">
    <span></span>
    <span></span>
  </div>
</div>

<nav class="header-nav">
  <a href="index" class="logo logo__nav">
    <img src="icons/logo.svg" alt="main logo" />
  </a>
  <ul class="header-nav-list">
    <li>
      <a class="link" href="index#favorites">Favorite coffee</a>
    </li>
    <li><a class="link" href="index#about">About</a></li>
    <li><a class="link" href="index#mobile">Mobile app</a></li>
    <li><a class="link" href="#footer">Contact us</a></li>
  </ul>

  <a class="link disabled" href="">
    Menu
    <img src="icons/coffee-cup.svg" alt="Coffee cup icon" />
  </a>
</nav>
