.cart {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;

  h2 {
    margin: 0;
  }

  .message {
    margin: 0 auto;
    text-align: center;
    max-width: 400px;
  }

  &-table {
    width: 100%;
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &-item {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 20px;

    &_img {
      border-radius: 20px;
      width: 100px;
      height: 100px;
      overflow: hidden;
    }

    &_info {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      gap: 8px;
    }

    .price-container {
      margin-left: auto;
    }
  }

  &-total {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &-row {
    width: 100%;
    padding-left: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }

  .buttons {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
  }
}
