@use "../base/variables" as *;
@use "../base/fonts" as *;

.cart {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;

  &-table {
    width: 100%;
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &-item {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 20px;

    &_img {
      border-radius: 20px;
      width: 100px;
      height: 100px;
      overflow: hidden;
    }

    &_info {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      gap: 8px;
    }

    .price-container {
      margin-left: auto;
    }
  }

  h2 {
    margin: 0;
  }
}
