@use "../base/variables" as *;

.enjoy {
  border-radius: 40px;
  position: relative;
  max-width: 1360px;
  height: 644px;
  overflow: hidden;

  .video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    display: block;
    z-index: 0;
  }

  .offer {
    color: $text-light;
    position: absolute;
    top: 0;
    left: 100px;
    z-index: 2;
    max-width: 530px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 40px;

    h2 {
      font-size: 72px;
      line-height: 105%;
      color: $text-light;
    }

    .description {
      color: $text-light;
    }
  }
}
