@use "../base/variables" as *;

.enjoy {
  color: $text-light;
  margin-top: 20px;
  padding: 100px;
  border-radius: 40px;
  overflow: hidden;
  position: relative;

  &_video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    display: block;
    z-index: 0;
  }

  & * {
    background-color: transparent;
  }

  &_hero {
    position: relative;
    z-index: 2;
    display: flex;
    max-width: 530px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    gap: 40px;
    border-radius: 40px;
  }

  &_title {
    margin: 0;
    font-size: 72px;
    font-weight: 600;
    line-height: 105%;

    span {
      color: $text-accent;
      font-style: italic;
    }
  }

  &_descr {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
  }

  &_button {
    position: relative;
    display: flex;
    gap: 8px;
    justify-content: center;
    height: 64px;
    width: 200px;
    border-radius: 100px;
    background: $background-body;
    text-align: center;
    padding: 20px 78px;
    transition: all 0.5s ease-out;

    span {
      transition: all 0.5s ease-out;
    }

    &:hover span {
      transform: translateX(-15%);
    }

    svg {
      overflow: hidden;

      path {
        transition: all 0.5s ease-out;
        stroke: transparent;
      }
    }

    &:hover svg {
      overflow: visible;

      path {
        stroke: $text-dark;
        display: block;
      }
    }
  }
}
