@use "../base/variables" as *;

.modal {
  z-index: 99;
  background: $background-backdrop;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: $text-dark;
  font-family: $font-family;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
