@use "../base/variables" as *;
@use "../base/fonts" as *;

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;

  h2 {
    margin: 0;
    max-width: 800px;
    text-align: center;
  }

  .tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
  }

  .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 8px;
    border: 1px solid $border-light;
    background: transparent;
    color: $text-dark;
    border-radius: 100px;
    padding: 8px 16px 8px 8px;

    img {
      width: 30px;
      height: 30px;
      border-radius: 100px;
      background: $border-light;
      padding: 3px 7px;
    }

    span {
      font-family: $font-family;
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
    }

    &.active {
      background: $background-container;
      border: 1px solid $background-container;
      color: $text-light;

      img {
        background: $text-light;
      }
    }

    @media (hover: hover) {
      cursor: pointer;

      &:hover {
        transition: all 0.5s ease;
        background: $background-container;
        border: 1px solid $background-container;
        color: $text-light;

        img {
          background: $text-light;
        }
      }
    }
  }

  .cards {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
  }

  .card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border: 1px solid $border-light;
    border-radius: 40px;
    width: 310px;
    height: 506px;

    .image-container {
      border-radius: 40px;
      width: 310px;
      height: 310px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        scale: 1.1;
        transition: all 0.5s ease;
      }
    }

    .description-container {
      width: 100%;
      height: 196px;
      padding: 20px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: column;
      gap: 12px;

      .description {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 12px;
      }
    }

    @media (hover: hover) {
      cursor: pointer;

      &:hover {
        & img {
          scale: 1;
        }
      }
    }
  }

  .refresh {
    &.hidden {
      display: none;
    }
  }
}
