.modal {
  z-index: 99;
  background: var(--background-backdrop);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
  color: var(--text-dark);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  padding: 0 40px;

  @media (width <= 380px) {
    padding: 0 16px;
  }

  &.hidden {
    display: none;
  }

  .window {
    max-width: 800px;
    border-radius: 40px;
    padding: 16px;
    background: var(--background-body);
  }

  .wrapper {
    display: flex;
    gap: 20px;
  }

  .img {
    border-radius: 40px;
    width: 310px;
    height: 310px;
    flex-shrink: 0;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      scale: 1.1;
    }

    @media (width <= 700px) {
      display: none;
    }
  }

  .content {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }

  .modal-header {
    margin: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 12px;
  }

  .tab-block {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
  }

  .tabs {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
  }

  .price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
  }

  .alert {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 8px;
    border-top: 1px solid var(--border-light);
    padding: 12px 0;

    svg {
      min-width: 16px;
      height: 16px;

      path {
        stroke: var(--text-dark);
      }
    }

    p {
      font-weight: 600;
      font-size: 10px;
      line-height: 140%;
    }
  }

  .btn {
    width: 100%;
  }

  .btn-close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    position: absolute;
    top: -60px;
    right: -16px;
    cursor: pointer;
    padding: 0;
    border: 1px solid var(--text-light);
    border-radius: 50%;
    background-color: transparent;
    transition: all 0.5s ease;

    svg > path {
      stroke: var(--text-light);
    }

    @media (hover: hover) {
      &:hover {
        background-color: var(--text-light);

        svg > path {
          stroke: var(--text-dark);
        }
      }
    }
  }
}
