@use "../base/variables" as *;
@use "../base/fonts" as *;

.signin {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;

  h2 {
    margin: 0;
  }
}
