<div class="window">
  <div class="wrapper">
    <button id="close-modal" class="btn-close">
      <img src="icons/close.svg" alt="closeing icon" />
    </button>
    <div class="img">
      <img
        id="modal-img"
        src="images/menu/dessert/0.png"
        alt="Marble cheesecake"
      />
    </div>
    <div class="content">
      <div class="modal-header">
        <h3 id="modal-title"></h3>
        <p id="modal-description"></p>
      </div>

      <div class="tab-block">
        <p>Size</p>
        <div id="modal-sizes" class="sizes tabs"></div>
      </div>

      <div class="tab-block">
        <p>Additives</p>
        <div id="modal-additives" class="additives tabs"></div>
      </div>

      <div class="price">
        <h3>Total:</h3>
        <div class="price-container">
          <h3 id="modal-price" class="price__old"></h3>
          <h3 id="modal-discount"></h3>
        </div>
      </div>

      <div class="alert">
        <svg
          width="16"
          height="16"
          viewbox="0 0 16 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_268_11729)">
            <path
              d="M8 7.66663V11"
              stroke="#403F3D"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M8 5.00667L8.00667 4.99926"
              stroke="#403F3D"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M8.00016 14.6667C11.6821 14.6667 14.6668 11.6819 14.6668 8.00004C14.6668 4.31814 11.6821 1.33337 8.00016 1.33337C4.31826 1.33337 1.3335 4.31814 1.3335 8.00004C1.3335 11.6819 4.31826 14.6667 8.00016 14.6667Z"
              stroke="#403F3D"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </g>
          <defs>
            <clippath id="clip0_268_11729">
              <rect width="16" height="16" fill="white" />
            </clippath>
          </defs>
        </svg>

        <p>
          The cost is not final. Download our mobile app to see the final price
          and place your order. Earn loyalty points and enjoy your favorite
          coffee with up to 20% discount.
        </p>
      </div>

      <button id="add-to-cart" class="btn">Add to cart</button>
    </div>
  </div>
</div>
