@use "./variables" as *;
@use "./fonts" as *;

* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
  font-family: $font-family;
  font-style: normal;
}

body {
  overflow-x: hidden;
  background-color: $background-body;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}

.title {
  color: $text-dark;
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;

  span {
    color: $text-accent;
    font-style: italic;
  }
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: $text-dark;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  width: 200px;
  height: 64px;
  padding: 20px 78px;
  border: none;
  border-radius: 100px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: $text-dark;
  background-color: $text-light;

  img {
    width: 20px;
    height: 20px;
    overflow: hidden;

    svg {
      path {
        transition: all 0.5s ease-out;
        stroke: $text-light;
      }
    }
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }

  @media (hover: hover) {
    cursor: pointer;

    span {
      transition: all 1s ease;
    }

    &:hover:not(:disabled) {
      span {
        transform: translateX(-15%);
      }

      img {
        overflow: visible;

        svg {
          path {
            transition: all 0.5s ease-out;
            stroke: $text-dark;
          }
        }
      }
    }
  }
}
