@use "./variables" as *;
@use "./fonts" as *;

* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
  font-family: $font-family;
  font-weight: 600;
}

body {
  overflow-x: hidden;
  background-color: $background-body;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}

h2 {
  margin-top: 100px;
  color: $text-dark;
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  text-align: center;

  span {
    color: $text-accent;
    font-weight: 600;
    font-style: italic;
  }
}

h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: $text-dark;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  width: 200px;
  height: 64px;
  padding: 20px 78px;
  border: none;
  border-radius: 100px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: $text-dark;
  background-color: $text-light;

  span {
    transform: translateX(30%);
  }

  img {
    width: 20px;
    height: 20px;
    opacity: 0;
    transition: all 0.5s ease-out;
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }

  @media (hover: hover) {
    cursor: pointer;

    span {
      transition: all 0.5s ease-out;
    }

    &:hover:not(:disabled) {
      span {
        transform: translateX(-10%);
      }

      img {
        opacity: 1;
      }
    }
  }
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 4px;
  border-bottom: 2px solid transparent;
  width: fit-content;
  line-height: 125%;
  color: $text-dark;
  background-color: transparent;
  outline: none;
  text-decoration: none;

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }

  @media (hover: hover) {
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover:not(:disabled) {
      border-bottom: 2px solid $text-dark;
    }
  }

  @media (width <= 768px) {
    gap: 16px;

    img {
      width: 40px;
      height: 40px;
    }
  }
}
