@use "./variables" as *;
@use "./fonts" as *;

* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
  font-family: $font-family;
  font-weight: 600;
}

body {
  overflow-x: hidden;
  background-color: $background-body;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;

  @media (width <= 380px) {
    padding: 0 16px;
  }
}

h2 {
  margin-top: 100px;
  color: $text-dark;
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  text-align: left;

  @media (width <= 380px) {
    font-size: 32px;
  }

  span {
    color: $text-accent;
    font-weight: 600;
    font-style: oblique 8deg;
  }
}

h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: $text-dark;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  width: 200px;
  height: 64px;
  padding: 20px 78px;
  border: none;
  border-radius: 100px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: $text-dark;
  background-color: $text-light;

  span {
    transform: translateX(30%);
  }

  img {
    width: 20px;
    height: 20px;
    opacity: 0;
    transition: all 0.5s ease-out;
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }

  @media (hover: hover) {
    cursor: pointer;

    span {
      transition: all 0.5s ease-out;
    }

    &:hover:not(:disabled) {
      span {
        transform: translateX(-10%);
      }

      img {
        opacity: 1;
      }
    }
  }
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 4px;
  border-bottom: 2px solid transparent;
  width: fit-content;
  line-height: 125%;
  color: $text-dark;
  background-color: transparent;
  outline: none;
  text-decoration: none;

  &.disabled {
    pointer-events: none;
    cursor: default;
    border-bottom: 2px solid $text-dark;
  }

  @media (hover: hover) {
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover:not(.disabled) {
      border-bottom: 2px solid $text-dark;
    }
  }

  @media (width <= 768px) {
    gap: 16px;

    img {
      width: 40px;
      height: 40px;
    }
  }
}

.btn-circle {
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border: 1px solid $background-container;
  background-color: transparent;
  color: $text-dark;
  border-radius: 100px;
  width: 60px;
  height: 60px;
  transition: all 0.5s ease;

  @media (hover: hover) {
    cursor: pointer;

    &:hover {
      background-color: $background-container;
      color: $text-light;

      svg > path {
        stroke: $text-light;
      }
    }
  }
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  border: 1px solid $border-light;
  background: transparent;
  color: $text-dark;
  border-radius: 100px;
  height: 46px;
  padding: 8px 16px 8px 8px;

  .sign {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    background: $border-light;
    color: $text-dark;
    padding: 3px 7px;
  }

  span {
    font-family: $font-family;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
  }

  &.active {
    background: $background-container;
    border: 1px solid $background-container;
    color: $text-light;

    .sign {
      background: $text-light;
    }
  }

  @media (hover: hover) {
    cursor: pointer;

    &:hover {
      transition: all 0.5s ease;
      background: $background-container;
      border: 1px solid $background-container;
      color: $text-light;

      .sign {
        background: $text-light;
      }
    }
  }
}
