@import "https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap";

@font-face {
  font-family: Inter;
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0deg 10deg;
  src: url("/fonts/Inter.var.woff2?v=3.19") format("woff2");
}

$font-family: "Inter", sans-serif;
